* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #e5e5fd;
  min-height: 100vh;
  border: 10px solid #1d1e4c;
  margin: 0 auto;
}
.content {
  max-width: 900px;
  margin: 0 auto;
}

.top_section {
  width: 1200px;
  height: 100vh;
  border: 10px solid red;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.top_section,
img {
  margin-top: 50px;
  width: 220px;
  height: 213px;
}
body {
  background-color: #f8f9fa;
  color: #202122;
}
