* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #e5e5fd;
  min-height: 100vh;
  border: 10px solid #1d1e4c;
  margin: 0 auto;
}
.content {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.top_section {
  width: 1200px;
  height: 100vh;
  border: 10px solid red;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 0px 10px;
}

.top_section img {
  width: 200px;
  height: 213px;
}

.top_section p {
  margin-right: 10px;
  text-align: justify;
}
